snippet php "php tag"
<?php $1 ?>
endsnippet

snippet @fun "Elixer prety function"
@$1 ($2)
    $3
@end$1
endsnippet

snippet @sec "Elixer Section"
@section ('$1')
    $2
@stop
endsnippet

snippet @ext "Elixer Extends"
@extends ('$1')
endsnippet

snippet func "Function or Method"
${1:public} function ${2:name}($3){
    $4
}
endsnippet

snippet doc "Docummented"
/**
 * ${1:Type its desciption here}
 * @${2:var void}
 * @return ${3:void}
 */
endsnippet
