snippet doc "chama um bloco de documentacao"
########## doc
#
# @param ${1:type} ${2:var}
# @return ${3:type} ${4:var}
##########
endsnippet

snippet func "funcao"
${1:callback} <- function($2)
{
	${3:#yourFreakingCode}

	return(${4:void})
}
endsnippet
